@import url("https://fonts.googleapis.com/css?family=Spartan:wght@900|Nunito+Sans:300,600,800|Concert+One&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  background-color: #effafa;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

#root{
  width: 100%;
  height: 100VH;
}